/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: gray;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header h1:hover{
    color: #333;

}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4e2f0;
}

section {
    padding: 3em 1em;
    text-align: center;
    
}

section#tracking {
    background-color: #e9ecef;
    
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom:5%;
    padding-bottom:5%;
}

section#tracking h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

form {
    margin-bottom: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

form button {
    padding: 0.75em 2em;
    background-color: #e65c50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e67350;
}

#trackingResponse {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    display: none;
    
}

#trackingResponse.active {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5em 0;
    position: relative;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer .social {
    margin-top: 0.5em;
}

footer .social a {
    color: white;
    margin: 0 0.5em;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social a:hover {
    color: gray;
}
#ab{
    margin: 0;
    padding: 0;
}
